altgraph==0.17.3
autopep8==2.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.0.6
customtkinter==5.2.0
cycler==0.11.0
darkdetect==0.8.0
decorator==5.1.1
fonttools==4.38.0
future==0.18.3
geocoder==1.38.1
idna==3.4
imageio==2.23.0
kiwisolver==1.4.4
matplotlib==3.6.2
networkx==2.8.8
numpy==1.24.0
opencv-python==4.6.0.66
packaging==22.0
Pillow==9.3.0
pycodestyle==2.10.0
pyFirmata==1.1.0
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyserial==3.5
python-dateutil==2.8.2
PyWavelets==1.4.1
ratelim==0.1.6
requests==2.31.0
scikit-image==0.19.3
scipy==1.9.3
six==1.16.0
tifffile==2022.10.10
tk==0.1.0
tkintermapview==1.29
tkthread==0.5.2
tomli==2.0.1
urllib3==2.0.4
